{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Find the latest news </title>
        {% endif %}
    </head>
    <body>
        <!-- bbc news -->
        <h3>BBC NEWS</h3>
        <ul>
            {% for bbc_new in bbc %}
                <li>{{ bbc_new.title}}</li>
            {% endfor%}
           
        </ul>

        <!-- bbc sports -->
        <h3>BBC SPORTS</h3>
        <ul>
            {% for bbc_sport in bbcs %}
                <li>{{ bbc_sport.title}}</li>
            {% endfor%}
        </ul>

    </body>
</html>