{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Find the latest news </title>
        {% endif %}
    </head>
    <body>
        <!-- Content block -->
        {% block content %}

        <!-- bbc news -->
        <h3>BBC NEWS</h3>
        <ul>
            {{ macro.displayNewList(bbc) }}
        </ul>

        <!-- bbc sports -->
        <h3>BBC SPORTS</h3>
        <ul>
            {{ macro.displayNewList(bbcs)}}
        </ul>


        {% endblock%}

    </body>
</html>