<!-- {% macro displayNewList(new_list)%}

    {% for new in new_list %}
        <li>{{ new.title}}</li>
        <p>{{ new.description}}</p>
    {% endfor %}

{% endmacro %} -->
{% macro displayNewList(new_list)%}

    {% for new in new_list %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 new-card">
                <div class="card mt-3 m-3" style=" width: 50rem;">

                    <img src="{{ new.urlToImage }}" alt="{{ new.title }} urlToimage" class="img-responsive">
                    <div class="card-body text-light">
                        <!-- <li class="text-center"> -->
                            <!-- <a href="/new/{{new.id}}"> -->
                                <h4 class="card-title ">{{ new.title}}</h4>
                                <p class="card-text">{{new.description }}</p>
                                <p class="card-text">{{new.content | truncate(50) }}</p>
                                <a href="{{new.url}}" class="card-text text-center text-decoration-none" >
                                    <div class="d-grid gap-1 col-4 mx-auto">
                                        Read More 
                                    </div>
                                </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endmacro %}